In [18]:
import pandas as pd
import random
import math

# read in time point 1 for training
# train on it - model 1
# test on tp 2
# read tp 2
# add it to xgb - model 2
# test on tp 3
# read tp 3
# add it to xgb - model 3
# test on tp 4
# test model 1
data = pd.read_csv('NY_trials_2002-2022_conv_agg_updated.csv')
data.head()

,State,City,Date Sown,Brand,Variety,Date of Cut,Julian Day,Plant Lodge,Plant Height,Yield % or Vernal,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,NY,Ithaca,5/10/02,NaN,Seedway 9558,6/15/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NY,Ithaca,5/10/02,NaN,HYTEST 410,6/15/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NY,Ithaca,5/10/02,NaN,Paragon BR,6/15/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NY,Ithaca,5/10/02,NaN,4A421,6/15/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NY,Ithaca,5/10/02,NaN,WL 319HQ,6/15/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
def create_class(df):
    # Create a DataFrame
    print("Length of Dataset before class column: ", len(df))
    # Calculate the mean and standard deviation for the Yield column
    mean_yield = df['Yield (tons/acre)'].mean()
    std_yield = df['Yield (tons/acre)'].std()

    # Define the thresholds based on standard deviations
    lower_threshold = mean_yield - std_yield  # Yield less than -1 stdv below mean
    upper_threshold = mean_yield + std_yield  # Yield more than +1 stdv above mean

    # Classify yields based on the thresholds
    def classify_yield(yield_value):
        if yield_value < lower_threshold:
            return 0  # Low Yield (Class 1)
        elif lower_threshold <= yield_value <= upper_threshold:
            return 1  # Medium Yield (Class 2)
        else:
            return 2  # High Yield (Class 3)

    # Apply the classification function to the Yield column
    df['class'] = df['Yield (tons/acre)'].apply(classify_yield)

    # Display the result
    #print(df)
    print("Length of Dataset after: ", len(df))
    return df

In [3]:
def rename_columns(df):
    
    columns_to_keep=['Yield_Diff', 'Total Solar Radiation (W/m^2)', 'Total precipitation (mm)',
       'Avg Min Temp (C)', 'Avg Max Temp (C)', 'City', 'class', 'Date of Cut']

    df=df[columns_to_keep]
    #print(df.head())
    # Rename the column
    df.rename(columns={'Total Solar Radiation (W/m^2)': 'radiation'}, inplace=True)
    df.rename(columns={'Total precipitation (mm)': 'rain'}, inplace=True)
    #df = df.rename(columns={'Yield_Diff':'yield'})
    #data = data.rename(columns={'Total Radiation (W/m^2)':'radiation'})
    #data = data.rename(columns={'Total Rainfall (mm)':'rain'})
    df = df.rename(columns={'Yield_Diff': 'yield'})
    df = df.rename(columns={'Avg Min Temp (C)':'avg_min_temp'})
    df = df.rename(columns={'Avg Max Temp (C)':'avg_max_temp'})
    df = df.rename(columns={'Date of Cut':'Year'})
    return df

In [4]:
def data_cleaning(df):
    columns_to_keep=['Yield (tons/acre)', 'Total Solar Radiation (W/m^2)', 'Total precipitation (mm)',
       'Avg Min Temp (C)', 'Avg Max Temp (C)', 'City', 'Date of Cut']

    df=df[columns_to_keep]
    #print(df.head())
    # Rename the column
    df.rename(columns={'Total Solar Radiation (W/m^2)': 'radiation'}, inplace=True)
    df.rename(columns={'Total precipitation (mm)': 'rain'}, inplace=True)
    #df3 = df3.rename(columns={'Yield_Diff':'yield'})
    #data = data.rename(columns={'Total Radiation (W/m^2)':'radiation'})
    #data = data.rename(columns={'Total Rainfall (mm)':'rain'})
    df = df.rename(columns={'Avg Min Temp (C)':'avg_min_temp'})
    df = df.rename(columns={'Avg Max Temp (C)':'avg_max_temp'})
    df = df.rename(columns={'Date of Cut':'Year'})
    return df

In [5]:
def split_dataset_for_City(city,df):
    city_datasets = {city: city_df for city, city_df in df.groupby("City")}
    data=city_datasets.get(city)
    return data

In [6]:
# Group by 'Year' and take the mean for numeric columns
def create_consise_dataset(df):
    df_grouped = df.groupby("Year", as_index=False).mean(numeric_only=True)

    # Add back the 'City' column (if it's the same for all rows in a group)
    df_grouped["City"] = df.groupby("Year")["City"].first().values

    return df_grouped

In [7]:
def convert_date_to_year(df):
    df['Year'] = pd.to_datetime(df['Year'], errors='coerce')
    # Now extract the year
    df['Year'] = df['Year'].dt.year
    return df

In [8]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (0.13.0)
Requirement already satisfied: numpy<3,>=1.24.3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from imbalanced-learn) (2.1.3)
Requirement already satisfied: scipy<2,>=1.10.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from imbalanced-learn) (1.15.1)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from imbalanced-learn) (1.6.1)
Requirement already satisfied: sklearn-compat<1,>=0.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from imbalanced-learn) (0.1.3)
Requirement already satisfied: joblib<2,>=1.1.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from imbalanced-learn) (3.5.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [9]:
from imblearn.over_sampling import SMOTE
import pandas as pd

def apply_smote(df, target_column):
    # Separate features (X) and target (y)
    X = df.drop(columns=[target_column])
    y = df[target_column]
    # Get class distribution
    class_counts = y.value_counts()
    # Ensure each class gets at least as many samples as it originally had
    sampling_strategy = {cls: max(int(max(class_counts) * 1.0), count) for cls, count in class_counts.items()}

    smote = SMOTE(sampling_strategy=sampling_strategy, random_state=42, k_neighbors=2)
    # Initialize SMOTE
    #smote = SMOTE(sampling_strategy=0.5, random_state=42, k_neighbors=2)

    # Apply SMOTE to generate synthetic samples
    X_resampled, y_resampled = smote.fit_resample(X, y)

    # Convert back to DataFrame
    df_resampled = pd.DataFrame(X_resampled, columns=X.columns)
    df_resampled[target_column] = y_resampled

    return df_resampled

In [10]:
import pandas as pd

def balance_data_by_year_upsample(df):
    """Ensures equal number of data points for each year by upsampling to the maximum year count."""
    
    # Check if 'Year' exists
    if "Year" not in df.columns:
        raise KeyError("The dataset does not contain a 'Year' column.")
    
    # Group by 'Year' and get the count of records per year
    year_counts = df['Year'].value_counts()
    #print(year_counts)
    # Get the maximum number of records across all years
    max_count = year_counts.max()
    #print(max_count)
    # Initialize an empty list to store balanced data
    balanced_data = []

    # Iterate over each year and sample the same number of records
    for year in year_counts.index:
        year_data = df[df['Year'] == year]
        
        # If there are fewer data points than the maximum, upsample to the max_count
        if len(year_data) < max_count:
            year_data = year_data.sample(n=max_count, replace=True, random_state=42)
            #print("Upsampling")
        # Append the sampled data to the list
        balanced_data.append(year_data)
    #print(balanced_data)
    # Concatenate all the sampled data into a single DataFrame
    balanced_df = pd.concat(balanced_data, axis=0)
    
    return balanced_df

In [19]:
print("Dataset before preprocessing: ", len(data))
print("No preprocessing------")
print(data.head())
data=data_cleaning(data)
print("Dataset after preprocessing: ", len(data))
print("Data after preprocessing--------")
print(data.head())
#print(data.head())
data=split_dataset_for_City('Ithaca',data)
data.to_csv("Ithaca_NY_not_preprocessed.csv", index=False)
print(data.head())
print("Dataset after splitting Ithaca ", len(data))
data=create_consise_dataset(data)
print("After creating concise dataset ", len(data))
# Sort by 'Year' to maintain the chronological order
print(data.head())
print(type(data['Year']))
data['Year'] = pd.to_datetime(data['Year'])

# Sort by date
data = data.sort_values(by='Year')

data.to_csv("Ithaca_sorted_by_date.csv", index=False)
data=convert_date_to_year(data)


#print("Before upsampling")
#print("Before undersampling")
print("Before SMOTE")
print("Before SMOTE ", len(data))
data.to_csv("Ithaca_NY_preprocessed_before_SMOTE.csv", index=False)
data.drop(columns=['City'], inplace=True)
print(data.head())

print(data["Year"].value_counts())  # Check class balance BEFORE SMOTE

# Group by 'Year' and take 6 records per year
df_limited = data.groupby('Year').apply(lambda x: x.sample(n=6, random_state=42) if len(x) >= 4 else x)

# Optional: remove multi-index created by groupby
df_limited.reset_index(drop=True, inplace=True)
print("After considering only 4 dates of cut per year:")

# Check the result
print(df_limited['Year'].value_counts().sort_index())
#data=balance_data_by_year_upsample(data)
#data=undersampling(data)
#print("After Undersampling")
data=df_limited
data=apply_smote(data,'Year')



print("After SMOTE")
print("After SMOTE ", len(data))
data.to_csv("Ithaca_NY_preprocessed_after_SMOTE.csv", index=False)
print(data["Year"].value_counts())  # Check class balance after SMOTE
data=create_class(data)
data = data.sort_values(by="Year")
data.reset_index(drop=True, inplace=True)
print(len(data))
print(data.head())
#print(data.head())
print("Finally: ",len(data))

Dataset before preprocessing:  7344
No preprocessing------
  State    City Date Sown  Brand       Variety Date of Cut  Julian Day  \
0    NY  Ithaca   5/10/02    NaN  Seedway 9558     6/15/05         NaN
1    NY  Ithaca   5/10/02    NaN    HYTEST 410     6/15/05         NaN
2    NY  Ithaca   5/10/02    NaN    Paragon BR     6/15/05         NaN
3    NY  Ithaca   5/10/02    NaN         4A421     6/15/05         NaN
4    NY  Ithaca   5/10/02    NaN      WL 319HQ     6/15/05         NaN

   Plant Lodge  Plant Height  Yield % or Vernal  ...  Unnamed: 46  \
0          NaN           NaN                NaN  ...          NaN
1          NaN           NaN                NaN  ...          NaN
2          NaN           NaN                NaN  ...          NaN
3          NaN           NaN                NaN  ...          NaN
4          NaN           NaN                NaN  ...          NaN

   Unnamed: 47  Unnamed: 48  Unnamed: 49  Unnamed: 50  Unnamed: 51  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 52  Unnamed: 53  Unnamed: 54  Unnamed: 55
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN

[5 rows x 56 columns]
Dataset after preprocessing:  7344
Data after preprocessing--------
   Yield (tons/acre)  radiation     rain  avg_min_temp  avg_max_temp    City  \
0               2.13  341395.76  3618.14        2.3466       13.2826  Ithaca
1               2.19  341395.76  3618.14        2.3466       13.2826  Ithaca
2               2.11  341395.76  3618.14        2.3466       13.2826  Ithaca
3               2.17  341395.76  3618.14        2.3466       13.2826  Ithaca
4               2.15  341395.76  3618.14        2.3466       13.2826  Ithaca

      Year
0  6/15/05
1  6/15/05
2  6/15/05
3  6/15/05
4  6/15/05
   Yield (tons/acre)  radiation     rain  avg_min_temp  avg_max_temp    City  \
0               2.13  341395.76  3618.14        2.3466       13.2826  Ithaca
1               2.19  341395.76  3618.14        2.3466       13.2826  Ithaca
2               2.11  341395.76  3618.14        2.3466       13.2826  Ithaca
3               2.17  341395.76  3618.14        2.3466       13.2826  Ithaca
4               2.15  341395.76  3618.14        2.3466       13.2826  Ithaca

      Year
0  6/15/05
1  6/15/05
2  6/15/05
3  6/15/05
4  6/15/05
Dataset after splitting Ithaca  4320
After creating concise dataset  223
      Year  Yield (tons/acre)      radiation         rain  avg_min_temp  \
0  10/6/22           0.828125  166501.710000  1770.610000      5.730000
1  10/7/21           0.563333  382732.090000  4054.130000      4.277400
2   6/1/09           2.140000  287859.680000  2634.025000      2.528150
3   6/1/22           1.475000  195278.820000  2047.520000      2.354800
4  6/10/10           2.945556  221830.716667  1921.694815      2.932715

   avg_max_temp    City
0     17.219800  Ithaca
1     15.080400  Ithaca
2     13.812250  Ithaca
3     13.240400  Ithaca
4     14.045259  Ithaca
<class 'pandas.core.series.Series'>
Before SMOTE
Before SMOTE  223
     Year  Yield (tons/acre)      radiation         rain  avg_min_temp  \
52   2005           1.421923  230454.950000  2535.380000      2.449000
56   2005           2.038261  118368.720000  1340.700000      2.653400
19   2005           2.089545  341395.760000  3618.140000      2.346600
80   2005           1.868367  192228.728163  2104.189592      3.384498
116  2005           1.770909  358003.820000  3721.110000      2.805700

     avg_max_temp
52      13.306700
56      13.607200
19      13.282600
80      14.368527
116     13.793200
Year
2008    17
2016    17
2019    17
2020    17
2007    16
2011    16
2015    16
2021    16
2010    15
2006    14
2017    14
2009    13
2018    13
2022    10
2005     9
2014     3
Name: count, dtype: int64
After considering only 4 dates of cut per year:
Year
2005    6
2006    6
2007    6
2008    6
2009    6
2010    6
2011    6
2014    3
2015    6
2016    6
2017    6
2018    6
2019    6
2020    6
2021    6
2022    6
Name: count, dtype: int64
After SMOTE
After SMOTE  96
Year
2005    6
2006    6
2007    6
2008    6
2009    6
2010    6
2011    6
2014    6
2015    6
2016    6
2017    6
2018    6
2019    6
2020    6
2021    6
2022    6
Name: count, dtype: int64
Length of Dataset before class column:  96
Length of Dataset after:  96
96
   Yield (tons/acre)  radiation     rain  avg_min_temp  avg_max_temp  Year  \
0           0.766452   48010.95   301.99       12.4369       25.5838  2005
1           2.038261  118368.72  1340.70        2.6534       13.6072  2005
2           1.129565  148923.23  1512.65        4.7696       16.0500  2005
3           1.421923  230454.95  2535.38        2.4490       13.3067  2005
4           0.768636  373381.00  3837.77        3.1904       14.2618  2005

   class
0      0
1      1
2      1
3      1
4      0
Finally:  96

/var/folders/zn/_j79f2r529s6w4hp6tkpln8c0000gn/T/ipykernel_1554/1748844638.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Total Solar Radiation (W/m^2)': 'radiation'}, inplace=True)
/var/folders/zn/_j79f2r529s6w4hp6tkpln8c0000gn/T/ipykernel_1554/1748844638.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Total precipitation (mm)': 'rain'}, inplace=True)
/var/folders/zn/_j79f2r529s6w4hp6tkpln8c0000gn/T/ipykernel_1554/276365731.py:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Year'] = pd.to_datetime(data['Year'])
/var/folders/zn/_j79f2r529s6w4hp6tkpln8c0000gn/T/ipykernel_1554/276365731.py:38: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_limited = data.groupby('Year').apply(lambda x: x.sample(n=6, random_state=42) if len(x) >= 4 else x)

In [20]:
data_Df=data[data['Year'] != 2022]
data_Df = data_Df.rename(columns={'Yield (tons/acre)':'yield'})
#print(len(target_yearDf))
#print(target_yearDf.head())
# Display the filtered DataFrame
data_Df=data_Df.drop(columns={'Year'}, inplace=False)
#print(final_yearDf)
print(data_Df.head())

      yield  radiation     rain  avg_min_temp  avg_max_temp  class
0  0.766452   48010.95   301.99       12.4369       25.5838      0
1  2.038261  118368.72  1340.70        2.6534       13.6072      1
2  1.129565  148923.23  1512.65        4.7696       16.0500      1
3  1.421923  230454.95  2535.38        2.4490       13.3067      1
4  0.768636  373381.00  3837.77        3.1904       14.2618      0

In [21]:
target_Df=data[data['Year'] == 2022]
target_Df = target_Df.rename(columns={'Yield (tons/acre)':'yield'})
#print(len(target_yearDf))
#print(target_yearDf.head())
# Display the filtered DataFrame
target_Df=target_Df.drop(columns={'Year'}, inplace=False)
#print(final_yearDf)
print(target_Df.head())

       yield  radiation     rain  avg_min_temp  avg_max_temp  class
90  0.929048  366120.81  3652.99        4.0495       15.1828      0
91  1.466250  124268.43  1424.11        3.7791       14.9567      1
92  0.738810  350854.89  3450.55        3.6339       14.7335      0
93  1.475000  195278.82  2047.52        2.3548       13.2404      1
94  1.076000  228828.84  2269.57        3.5858       14.7590      1

In [22]:
print(len(target_Df))

6

In [23]:
all_yearsDf=data
all_yearsDf = all_yearsDf.rename(columns={'Yield (tons/acre)':'yield'})
#print(len(target_yearDf))
#print(target_yearDf.head())
# Display the filtered DataFrame
all_yearsDf=all_yearsDf.drop(columns={'Year'}, inplace=False)
#print(final_yearDf)
print(all_yearsDf.head())

      yield  radiation     rain  avg_min_temp  avg_max_temp  class
0  0.766452   48010.95   301.99       12.4369       25.5838      0
1  2.038261  118368.72  1340.70        2.6534       13.6072      1
2  1.129565  148923.23  1512.65        4.7696       16.0500      1
3  1.421923  230454.95  2535.38        2.4490       13.3067      1
4  0.768636  373381.00  3837.77        3.1904       14.2618      0

In [24]:
print(len(all_yearsDf))

96

In [25]:
target_Df=target_Df.dropna()
all_yearsDf=all_yearsDf.dropna()
data_Df=data_Df.dropna()

In [26]:
target_Df.reset_index(drop=True, inplace=True)
all_yearsDf.reset_index(drop=True, inplace=True)
data_Df.reset_index(drop=True, inplace=True)

In [27]:
print(target_Df.head())
print(len(target_Df))

      yield  radiation     rain  avg_min_temp  avg_max_temp  class
0  0.929048  366120.81  3652.99        4.0495       15.1828      0
1  1.466250  124268.43  1424.11        3.7791       14.9567      1
2  0.738810  350854.89  3450.55        3.6339       14.7335      0
3  1.475000  195278.82  2047.52        2.3548       13.2404      1
4  1.076000  228828.84  2269.57        3.5858       14.7590      1
6

In [28]:
print(all_yearsDf.head())
print(len(all_yearsDf))

      yield  radiation     rain  avg_min_temp  avg_max_temp  class
0  0.766452   48010.95   301.99       12.4369       25.5838      0
1  2.038261  118368.72  1340.70        2.6534       13.6072      1
2  1.129565  148923.23  1512.65        4.7696       16.0500      1
3  1.421923  230454.95  2535.38        2.4490       13.3067      1
4  0.768636  373381.00  3837.77        3.1904       14.2618      0
96

In [29]:
data_Df.to_csv("data_new.csv", index=False)

In [30]:
print(len(data_Df))

90

In [31]:
data1=data_Df

In [32]:
# from sdv.tabular import TVAE

# model = TVAE()
# model.fit(data)
import numpy as np
samples_out = 20000 # total number of samples/records to generate/synthesize
no_stds = 1 # number of standard deviations within which synthesized values must fall
number_of_classes = (data1['class'].unique()).size # number of unique classes in input data

data_len = len(data1.index)
F = [] # a list of the feature vectors dataframes, one per class
for class_no in range(number_of_classes):
    df = pd.DataFrame(data1[data1['class'] == class_no])
    #print("In F: ")
    #print(check_nan_in_dataframe(df))
    F.append(df)


def synthesize_tabular_data(F, samples_out, no_stds, no_classes, no_records):
    new_F = []
    for index, entry in enumerate(F):
        # Clean NaN values before processing
        entry = entry.dropna(subset=['yield', 'radiation', 'rain', 'avg_max_temp', 'avg_min_temp'])

        # Check if there's data left after dropping NaN values
        if len(entry) == 0:
            print(f"Warning: Class {index} has no valid data after removing NaNs.")
            continue
        yield_ = entry['yield']
        mean_yield = yield_.mean()
        std_yield = yield_.std()
        total_rad = entry['radiation']
        mean_rad = total_rad.mean()
        std_rad = total_rad.std()
        total_rain = entry['rain']
        mean_rain = total_rain.mean()
        std_rain = total_rain.std()
        avg_max_temp = entry['avg_max_temp']
        mean_max_temp = avg_max_temp.mean()
        std_max_temp = avg_max_temp.std()
        avg_min_temp = entry['avg_min_temp']
        mean_min_temp = avg_min_temp.mean()
        std_min_temp = avg_min_temp.std()
        
        #print(str(mean_yield) + " " + str(std_yield) + " " + str(mean_rad) + " " + str(std_rad) + " " + str(mean_rain) + " " + str(std_rain) + " " + str(mean_max_temp) + " " + str(std_max_temp) + " " + str(mean_min_temp) + " " + str(std_min_temp))
        # Check for NaNs in calculated values
        if np.isnan(mean_yield) or np.isnan(std_yield):
            print(f"Warning: NaN found in 'yield' statistics for class {index}.")
            continue
        if np.isnan(mean_rad) or np.isnan(std_rad):
            print(f"Warning: NaN found in 'radiation' statistics for class {index}.")
            continue
        if np.isnan(mean_rain) or np.isnan(std_rain):
            print(f"Warning: NaN found in 'rain' statistics for class {index}.")
            continue
        if np.isnan(mean_max_temp) or np.isnan(std_max_temp):
            print(f"Warning: NaN found in 'avg_max_temp' statistics for class {index}.")
            continue
        if np.isnan(mean_min_temp) or np.isnan(std_min_temp):
            print(f"Warning: NaN found in 'avg_min_temp' statistics for class {index}.")
            continue
        
        new_yields = []
        new_rads = []
        new_rains = []
        new_max_temps = []
        new_min_temps = []
        
        # calculate potcii: percentage of this class in input
        potcii = (len(entry)/no_records)
        no_records_to_generate = round(potcii * samples_out)
        print("Number of records to generate: ", no_records_to_generate)
        for i in range(no_records_to_generate):
            new_yield = random.uniform(mean_yield - std_yield*no_stds, mean_yield + std_yield*no_stds)
            new_yields.append(new_yield)
            #print("New Yields:")
            #print(new_yields)
            
            new_rad = random.uniform(mean_rad - std_rad*no_stds, mean_rad + std_rad*no_stds)
            new_rads.append(new_rad)
            #print("Radiation:")
            #print(new_rads)
            
            new_rain = random.uniform(mean_rain - std_rain*no_stds, mean_rain + std_rain*no_stds)
            new_rains.append(new_rain)
            #print("Precipitation:")
            #print(new_rains)
        
            new_max_temp = random.uniform(mean_max_temp - std_max_temp*no_stds, mean_max_temp + std_max_temp*no_stds)
            new_max_temps.append(new_max_temp)
            #print("Max Temp:")
            #print(new_max_temps)
            
            new_min_temp = random.uniform(mean_min_temp - std_min_temp*no_stds, mean_min_temp + std_min_temp*no_stds)
            new_min_temps.append(new_min_temp)
            #print("Min Temperature")
            #print(new_min_temps)
            
        # Create a DataFrame for the new synthesized data
        new_data = pd.DataFrame({
            'yield': new_yields,
            'radiation': new_rads,
            'rain': new_rains,
            'avg_max_temp': new_max_temps,
            'avg_min_temp': new_min_temps,
            'class': [index] * len(new_yields)  # Adding the class label
        })
        
        # Concatenate the original data with the new synthesized data
        concat_data = pd.concat([entry, new_data], ignore_index=True)
        
        # Append the concatenated DataFrame to the list
        new_F.append(concat_data)
    
    # Finally, concatenate all class DataFrames into a single DataFrame
    final_data = pd.concat(new_F, ignore_index=True)
    
    return final_data
    #return pd.concat(new_F)

new_data = synthesize_tabular_data(F, samples_out, no_stds, number_of_classes, data_len)

Number of records to generate:  3333
Number of records to generate:  12667
Number of records to generate:  4000

In [33]:
print(len(new_data))

20090

In [34]:
new_data.to_csv("data_no_2022_synthesized_nonstationary.csv", index=False)

In [35]:
target_Df.reset_index(drop=True, inplace=True)
all_yearsDf.reset_index(drop=True, inplace=True)

In [36]:
all_yearsDf.to_csv("all_years.csv", index=False)
target_Df.to_csv("target_yearDf.csv", index=False)